homepage{
    height: 100vh;
    width: 100%;
}
.search-input-container{
    width: 400px;
    padding: 0px 24px;

    height: fit-content;
    border-radius: 15px;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    z-index: 1;


    background: #2d2f30;
    color: #f2f2f2;
}

.search-input {
    width: 350px;
    padding: 16px 0px;
    border-radius: 25px;
    border: 0;
    outline: 0;

    font-size: 16px;

    background: #2d2f30;
    color: #f2f2f2;

}
.search-img-wrapper{
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    background-color: #FFEC34;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.search-img{
   width: 20px;
   height: 20px;
   margin: auto;
}
.search-input-cross{
    margin-right: 10px;
    cursor: pointer;
}

.search-input-loader{
    border-top:dotted 3px #FFEC34;
    border-right:dotted 3px #3498db;

    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}

.logo {
    text-align: center;
    margin-bottom: 35px;
}   

.logo img {
    width: 200px;
}

.search-result{
    width: 448px;
    max-height: 350px;
    /* padding-left: 24px;
    padding-right: 24px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -10px;

    overflow-y: scroll;
    overflow-x: hidden;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #f2f2f2;
    background-color: #2D2F30;
}

.search-result::-webkit-scrollbar {
    width: 5px;
}

.search-result::-webkit-scrollbar-track {
    background: none;

}

.search-result::-webkit-scrollbar-thumb {
    background: #888;
    width: 3px;
    border-radius: 50%;
    
}
.search-result div{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.search-options div:nth-child(1){
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5px;
}
.search-options div:nth-child(2){
    text-align: right;
    color: grey;
    width: fit-content;
    min-width: 100px;

}
.search-options div:nth-child(2) span{
    text-align: right;
    width: 90%;
}

.search-options div:nth-child(1) span:nth-child(1) {
    font-weight: 600;
    font-size: 15px;
}

.search-options div span:nth-child(2) {
    font-weight: 300;
    font-size: 10px;
    color: grey;

}

.search-result div:hover {
    color: rgb(218, 118, 36);
    cursor: pointer;
}

@media only screen and (max-width: 650px){
    .homepage{
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
        width: 100%;
    }
    .search-input-container{    
        width: 250px;
        position: relative;
    }
    .search-result{
        width: 300px;
        margin-top: -7px;
        overflow-x: hidden;
        max-height: 250px;

    }
  
        

}